@model Domain.Views.FpSummonerView
@{
    ViewBag.Title = "Registered Summoners";
}

<h2>@ViewData["Title"]</h2>
<table class="table table-bordered">
    <tr>
        <th>@Html.ActionLink("Summoner Name", "Index", new {sortOrder = ViewBag.SummonerName })</th>
        <th>@Html.ActionLink("Role", "Index", new { sortOrder = ViewBag.Role })</th>
        <th>Off Role</th>
        <th>@Html.ActionLink("Rank", "Index", new {sortOrder = ViewBag.TierDivision })</th>
        <th>op.gg link</th>
        <th>@Html.ActionLink("Team Name", "Index", new {sortOrder = ViewBag.TeamName })</th>
    </tr>
    @foreach (var item in Model.SummonerInfos)
    {
        <tr>
            <td>@item.SummonerName</td>
            <td>@item.Role.ToString()</td>
            <td>@item.OffRole.ToString()</td>
            <td>@item.TierDivision.ToString()</td>
            <td>@item.OpGgUrl</td>
            <td>@item.TeamName</td>
        </tr>
    }
</table>