@using Domain.Enums
@using Domain.Views
@model Domain.Views.SimplifiedMatchSubmissionView

@{
    ViewData["Title"] = "SendMatchDataAsync";
    var playerList = new List<SelectListItem>();
    foreach (var validPlayer in Model.ValidPlayers)
    {
        playerList.Add(new SelectListItem
        {
            Text = validPlayer,
            Value = validPlayer
        });
    }
}

<h2>@Model.Week: @Model.FileName results</h2>

<div class="row">
    @Model.StatusMessage
</div>
<div asp-validation-summary="All" class="text-danger">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="HomeTeamName" value="@Model.HomeTeamName" />
        <input type="hidden" name="AwayTeamName" value="@Model.AwayTeamName" />
        <input type="hidden" name="ScheduleId" value="@Model.ScheduleId" />
        <input type="hidden" name="Week" value="@Model.Week" />
        @{
            if (Model.GameDetails == null)
            {
                Model.GameDetails = new List<GameDetail>();
            }

            var count = Model.Week.ToLowerInvariant().Contains("week") ? 2 : 5;

            for (var i = 0; i < count; i++)
            {
                <h3>Game @(i + 1)</h3>

                var gameInfo = new GameDetail();
                Model.GameDetails.Add(gameInfo);
                <input type="hidden" asp-for="@Model.GameDetails[i].GameNum" value="@(i+1)" />

                if (i >= 2)
                {
                    <label asp-for="@Model.GameDetails[i].GamePlayed"></label>
                    <input type="checkbox" asp-for="@Model.GameDetails[i].GamePlayed" onclick="displayGame(@i)" />
                }
                else
                {
                    <input type="hidden" asp-for="@Model.GameDetails[i].GamePlayed" value="@true" />
                }
                <div class="row" id="{{'Game'@i}}">
                    <div class="row">
                        <div class="card col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].TeamOnBlueSide"></label>
                                <input type="text" asp-for="@Model.GameDetails[i].TeamOnBlueSide" />
                            </div>
                        </div>
                        <div class="card col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].ProdraftSpectateLink"></label>
                                <input type="text" asp-for="@Model.GameDetails[i].ProdraftSpectateLink" />
                            </div>
                        </div>
                        <div class="card col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].PostGameScreenshot"></label>
                                <input type="file" asp-for="@Model.GameDetails[i].PostGameScreenshot" formenctype="multipart/form-data" />
                            </div>
                        </div>
                        <div class="card col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].BlueSideWinner"></label>
                                <input type="checkbox" asp-for="@Model.GameDetails[i].BlueSideWinner" />


                            </div>
                        </div>
                    </div>
                    @* Match Replay File*@
                    <div class="row">

                    </div>
                    @*Match Mvp for both teams*@
                    <div class="row">
                        <h4> Game Mvp(s) </h4>
                        <div class="card col-md-3 pull-left">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].BlueMvp"></label>
                                <select asp-items="@playerList" asp-for="@Model.GameDetails[i].BlueMvp"></select>
                            </div>
                        </div>
                        <div class="card col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].MatchReplayUrl"></label>
                                <input type="text" asp-for="@Model.GameDetails[i].MatchReplayUrl" />
                            </div>
                        </div>
                        <div class="card col-md-3 pull-right">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].RedMvp"></label>
                                <select asp-items="@playerList" asp-for="@Model.GameDetails[i].RedMvp"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4> Honorary Opponent Mvp(s) </h4>
                        <div class="card col-md-3 pull-left">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].HonoraryBlueOppMvp"></label>
                                <select asp-items="@playerList" asp-for="@Model.GameDetails[i].HonoraryBlueOppMvp"></select>
                            </div>
                        </div>
                        <div class="card col-md-3 pull-right">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].HonoraryRedOppMvp"></label>
                                <select asp-items="@playerList" asp-for="@Model.GameDetails[i].HonoraryRedOppMvp"></select>
                            </div>
                        </div>
                    </div>
                    <!--old stuff here-->
                    <!--
                         @*
                     Team details For Blue team
                    <div class="row">
                        <h4> Blue Team </h4>
                        <div class="card col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].BlueTeam.PlayerTop"></label>
                                <select asp-items="@playerList" asp-for="@Model.GameDetails[i].BlueTeam.PlayerTop"></select>
                            </div>
                        </div>
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].BlueTeam.ChampionTop"></label>
                                <select asp-items="Html.GetEnumSelectList<ChampionsEnum>()" asp-for="@Model.GameDetails[i].BlueTeam.ChampionTop" class="form-control"></select>
                            </div>
                        </div>
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].BlueTeam.PlayerJungle"></label>
                                <select asp-items="@playerList" asp-for="@Model.GameDetails[i].BlueTeam.PlayerJungle"></select>
                            </div>
                        </div>
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].BlueTeam.ChampionJungle"></label>
                                <select asp-items="Html.GetEnumSelectList<ChampionsEnum>()" asp-for="@Model.GameDetails[i].BlueTeam.ChampionJungle" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].BlueTeam.PlayerMid"></label>
                                <select asp-items="@playerList" asp-for="@Model.GameDetails[i].BlueTeam.PlayerMid"></select>
                            </div>
                        </div>
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].BlueTeam.ChampionMid"></label>
                                <select asp-items="Html.GetEnumSelectList<ChampionsEnum>()" asp-for="@Model.GameDetails[i].BlueTeam.ChampionMid" class="form-control"></select>
                            </div>
                        </div>
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].BlueTeam.PlayerAdc"></label>
                                <select asp-items="@playerList" asp-for="@Model.GameDetails[i].BlueTeam.PlayerAdc"></select>
                            </div>
                        </div>
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].BlueTeam.ChampionAdc"></label>
                                <select asp-items="Html.GetEnumSelectList<ChampionsEnum>()" asp-for="@Model.GameDetails[i].BlueTeam.ChampionAdc" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].BlueTeam.PlayerSup"></label>
                                <select asp-items="@playerList" asp-for="@Model.GameDetails[i].BlueTeam.PlayerSup"></select>
                            </div>
                        </div>
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].BlueTeam.ChampionSup"></label>
                                <select asp-items="Html.GetEnumSelectList<ChampionsEnum>()" asp-for="@Model.GameDetails[i].BlueTeam.ChampionSup" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                     Team details For Red team
                    <div class="row">
                        <h4> Red Team </h4>
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].RedTeam.PlayerTop"></label>
                                <select asp-items="@playerList" asp-for="@Model.GameDetails[i].RedTeam.PlayerTop"></select>
                            </div>
                        </div>
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].RedTeam.ChampionTop"></label>
                                <select asp-items="Html.GetEnumSelectList<ChampionsEnum>()" asp-for="@Model.GameDetails[i].RedTeam.ChampionTop" class="form-control"></select>
                            </div>
                        </div>
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].RedTeam.PlayerJungle"></label>
                                <select asp-items="@playerList" asp-for="@Model.GameDetails[i].RedTeam.PlayerJungle"></select>
                            </div>
                        </div>
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].RedTeam.ChampionJungle"></label>
                                <select asp-items="Html.GetEnumSelectList<ChampionsEnum>()" asp-for="@Model.GameDetails[i].RedTeam.ChampionJungle" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].RedTeam.PlayerMid"></label>
                                <select asp-items="@playerList" asp-for="@Model.GameDetails[i].RedTeam.PlayerMid"></select>
                            </div>
                        </div>
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].RedTeam.ChampionMid"></label>
                                <select asp-items="Html.GetEnumSelectList<ChampionsEnum>()" asp-for="@Model.GameDetails[i].RedTeam.ChampionMid" class="form-control"></select>
                            </div>
                        </div>
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].RedTeam.PlayerAdc"></label>
                                <select asp-items="@playerList" asp-for="@Model.GameDetails[i].RedTeam.PlayerAdc"></select>
                            </div>
                        </div>
                        <div class="card col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].RedTeam.ChampionAdc"></label>
                                <select asp-items="Html.GetEnumSelectList<ChampionsEnum>()" asp-for="@Model.GameDetails[i].RedTeam.ChampionAdc" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].RedTeam.PlayerSup"></label>
                                <select asp-items="@playerList" asp-for="@Model.GameDetails[i].RedTeam.PlayerSup"></select>
                            </div>
                        </div>
                        <div class="card  col-md-3">
                            <div class="card-body">
                                <label asp-for="@Model.GameDetails[i].RedTeam.ChampionSup"></label>
                                <select asp-items="Html.GetEnumSelectList<ChampionsEnum>()" asp-for="@Model.GameDetails[i].RedTeam.ChampionSup" class="form-control"></select>
                            </div>
                        </div>
                    </div>*@
                    -->
                    <div class="row">
                        <label asp-for="@Model.GameDetails[i].HomeTeamForfeit"></label>
                        <input type="checkbox" asp-for="@Model.GameDetails[i].HomeTeamForfeit" />

                        <label asp-for="@Model.GameDetails[i].AwayTeamForfeit"></label>
                        <input type="checkbox" asp-for="@Model.GameDetails[i].AwayTeamForfeit" />
                    </div>
                </div>
            }
        }
        <div class="row">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<script>
    function displayGame() {
        if (arguments < 1) {
            return;
        }

        var gameNum = arguments[0];
        var x = document.getElementById("{{'Game'" + gameNum + "}}");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        else {
            x.style.display = "none";
        }
    }
</script>