@using Domain.Enums
@model List<Domain.Views.RequestedPlayersView>
@{
    ViewBag.Title = "Team Creation";
}

<h2>@ViewData["Title"]</h2>
<table class="table table-bordered">
    <tr>
        @{
            var minTeamCount = 5;
            var maxTeamSize = Model.Max(x => x.Summoners.Count);
            var teamCount = minTeamCount < maxTeamSize ? maxTeamSize : minTeamCount;

            for (var i = 0; i < teamCount; i++)
            {
                var index = i + 1;
                <th>
                    <div>
                        
                        @if (index > 5)
                        {
                        <div>P@(index): Name - Rank - Role</div>
                        }
                        else
                        {
                        <div>@((SummonerRoleEnum)index)</div>
                        }
                    </div>
                </th>
            }
        }
        <th>Looking For</th>
    </tr>
    @foreach (var group in Model)
    {
        <tr>
            @{
                var unused = new List<SummonerRoleEnum>
                {
                    SummonerRoleEnum.Top, SummonerRoleEnum.Jungle, SummonerRoleEnum.Mid, SummonerRoleEnum.Adc, SummonerRoleEnum.Sup
                };
                for (var index = 0; index < @group.Summoners.Count; index++)
                {
                    var player = @group.Summoners[index];
                    if (string.IsNullOrEmpty(player.SummonerName))
                    {
                        <td>Unfilled</td>
                    }
                    if (!string.IsNullOrEmpty(player.SummonerName))
                    {
                        <td>
                            <div>@player.SummonerName - @player.Rank</div>
                            @if (index > 4)
                            {
                                <div> - @player.RoleForTeam</div>
                            }
                        </td>
                    }
                }
                <td>@group.LookingForString</td>
            }
        </tr>
    }
</table>


