
@using Domain.Forms
@using Domain.Views
@model Domain.Views.SeasonInfoView

@{
    ViewData["Title"] = "CreatePlayoffSeeds";
    var count = 0;
    var input = new PlayoffInputForm
    {
        Seeds = new List<PlayoffSeedInsertView>()
    };
}
<h2>CreatePlayoffSeeds</h2>

<div class="row">
    @{
                var divisions = Model.Rosters.GroupBy(x => x.Division.DivisionName).ToDictionary(x => x.Key, x => x.ToList());
        foreach (var division in divisions)
        {
            <label name="DivisionName">@division.Key</label>
            <label name="DivisionId">@division.Value.First().Division.DivisionId</label>
            <table class="table table-bordered">
                <tr>
                    <th>
                        TeamName
                    </th>
                    <th>
                        Wins
                    </th>
                    <th>
                        Loses
                    </th>
                    <th>
                        RosterId
                    </th>
                </tr>
                @foreach (var team in division.Value.OrderByDescending(x => x.Points))
                {
                    <tr>
                        <td>
                            @team.TeamName
                        </td>
                        <td>
                            @team.Wins
                        </td>
                        <td>
                            @team.Loses
                        </td>
                        <td>
                            @team.RosterId
                        </td>
                    </tr>
                }
            </table>
        }
    }
</div>

<div>
    <table id="seedTable" class="table table-bordered">
        <tr>
            <th>
                RosterId
            </th>
            <th>
                DivisionId
            </th>
            <th>
                Seed# (1-4)
            </th>
        </tr>
        @foreach (var item in input.Seeds)
        {
            Html.RenderPartial("AddSeedPartial", item);
        }
    </table>

    <div class="excontainer">
        <button id="loadbasic">basic load</button>
        <div id="result"></div>
 
    </div>
    <button type="submit">Post Playoff Seeds</button>

</div>

<script>
    function addItem() {
        @{
            input.Seeds.Add(new PlayoffSeedInsertView());
            count = count + 1;
        };
        alert('Seeds' + @input.Seeds.Count);
        alert('Count' + @count);
    }
</script>